.search-container {
    box-sizing:border-box;
    position: relative;
    width: 100%;
    font-size: 12px;
    color: #294D8C;
}

.search-field {
    box-sizing:border-box;
    width: 100%;
    border: 1px solid #294D8C;
    border-radius: 10px;
    line-height: 1.2em;
    padding: 0.5em 0.2em;
    color: #294D8C;
}

::placeholder {
    color: #294D8C;
}

.search-container i {
    font-size: 1.4em;
    position: absolute;
    right: 7px;
    top: 0.5em;
}

.search-container i:hover {
    cursor: pointer;
}

@media only screen and (max-device-width: 992px) {
    .form-field-container label {
        color: #FFFFFF;
    }
}