.nav-bar {
    grid-column: 1 / 13;
    grid-row: 1 / 2 ;
    background-color: #009FEF;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    font-family: "Lucida Fax";
    color: #FFFFFF;
}

.menu-btn {
    visibility: hidden;
    font-size: 30px;
}

.logout-btn {
    font-size: 30px;
}

.logout-btn:hover {
    cursor: pointer;
}

@media only screen and (max-device-width: 992px){

    .nav-bar {
        font-size: 30px;
    }

    .logout-btn {
        font-size: 25px;
    }

    .menu-btn {
        font-size: 25px;
    }

    .menu-btn {
        visibility: visible;
    }
}