.page-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 10vh);
}

.content {
    grid-column: 3 / 13;
    grid-row: 2 / 11 ;
    background-image: url("../images/background.png");
    max-height: 90vh;
    overflow-y: scroll;
}

@media only screen and (max-device-width: 992px){
    .content {
        grid-column: 1 / 13;
    }

    .side-bar {
        grid-column: 1 / 10;
        z-index: 9999;
        font-size: 20px;
    }
}